// Footer
footer.m_footer
  .container
    .row
      .col-sm-4.col-xs-8
        .menu
          ul
            li: a(href="#") RZR Camp 2016
            li: a(href="#") Новости
            li: a(href="#") Новости
            li: a(href="#") Галерея
          ul
            li: a(href="#") История
            li: a(href="#") Партнеры
            li: a(href="#") Контакты
            li: a(href="#") Форум
      .col-sm-4.col-xs-4
        .logo: a(href="#")
      .col-sm-4.col-xs-12
        .socials
          .title Мы в социальных сетях
          .buttons
            a(href="#").facebook
            a(href="#").vk
            a(href="#").twitter
            a(href="#").instagram
            a(href="#").youtube
        .official Brandt официальныцй дилер <br>Polaris, KLIM, Indian, Victory