extends ../modules/layout/layout.jade

block title
  title Новость

block content
  .main
    .container
      .row
        .col-sm-12
          // Breadcrumbs
          -
            var breadcrumbs = [
              { title: 'Новости'},
              { title: 'Квадроцикл Polaris Sportsman Touring XP 1000'}
            ]
          include ../modules/breadcrumbs/m_breadcrumbs
          // Trace
          .m_article
            .lead-image(style="background-image: url('assets/images/article.jpg')")
            article
              .page-title Квадроцикл Polaris Sportsman Touring XP 1000
              p — один из самых комфортных квадроциклов на сегодняшний день!
              p Электроусилитель руля, мощный двухцилиндровый двигатель, эргономика, взаимное расположение сиденья, руля и широкие подножки - едва ли не идеальны. Даже забывается, что вы находитесь в труднопроходимом районе лесов, например, в любимой Карелии.
              p Ощущения как на отдыхе у себя дома в любимом кресле. Причем это удобство ощущается не только за рулем ATV, но и на заднем сиденье, которое имеет амортизатор для повышенного комфорта пассажира.
              p Работа подвески мотовездехода позволяет не замечать даже самых ухабистых участков отчаянного бездорожья.
            .m_all-items
              a(href="#") Вернуться ко всем новостям
            .m_article-comments
              .heading Комментарии (3)
              .comments-wrapper
                .comment
                  .image: a(href="#" style="background-image: url('assets/images/forum/usericon-1.png')")
                  .body
                    .header
                      .username: a(href="#") Username
                      .post-date Сегодня, в 19:51
                    .message
                      p Организатор гонок - компания Brandt, эксклюзивный дистрибьютор мототехники Polaris в России.<br>Новый год - новое название, новый  формат и новые впечатления! Мероприятие теперь будет проходить 2 дня и будет еще интереснее и насыщеннее, как для участников, так и для гостей.<br>Мы ожидаем гонщиков, которые у нас участвуют традиционно, новичков, кто хочет попробовать свои силы и силы своей техники и побороться за призы соревнований и всех, кто намерен хорошо провести время и понаблюдать за зрелищной гонкой.
                .comment
                  .image: a(href="#" style="background-image: url('assets/images/forum/usericon-2.png')")
                  .body
                    .header
                      .username: a(href="#") Username
                      .post-date Сегодня, в 19:51
                    .message
                      p Организатор гонок - компания Brandt, эксклюзивный дистрибьютор мототехники Polaris в России.<br>Новый год - новое название, новый  формат и новые впечатления! Мероприятие теперь будет проходить 2 дня и будет еще интереснее и насыщеннее, как для участников, так и для гостей.<br>Мы ожидаем гонщиков, которые у нас участвуют традиционно, новичков, кто хочет попробовать свои силы и силы своей техники и побороться за призы соревнований и всех, кто намерен хорошо провести время и понаблюдать за зрелищной гонкой.
                .comment
                  .image: a(href="#" style="background-image: url('assets/images/forum/usericon-1.png')")
                  .body
                    .header
                      .username: a(href="#") Username
                      .post-date Сегодня, в 19:51
                    .message
                      p Организатор гонок - компания Brandt, эксклюзивный дистрибьютор мототехники Polaris в России.<br>Новый год - новое название, новый  формат и новые впечатления! Мероприятие теперь будет проходить 2 дня и будет еще интереснее и насыщеннее, как для участников, так и для гостей.<br>Мы ожидаем гонщиков, которые у нас участвуют традиционно, новичков, кто хочет попробовать свои силы и силы своей техники и побороться за призы соревнований и всех, кто намерен хорошо провести время и понаблюдать за зрелищной гонкой.
            .m_form-comment
              form
                .title Добавить комментарий
                .input: textarea
                .login: a(href="#") Зарегистрироваться или войти
                .submit: button(type="submit").blue-btn Отправить
