.m_all-items
  text-align right
  margin-top 5px
  margin-bottom 20px
  @media screen and (max-width: 767px)
    position absolute
    right 0
    top 20px
    margin-bottom 0
  @media screen and (max-width: 380px)
    top 45px
  a
    text-decoration none
    @media screen and (max-width: 380px)
      font-size 14px
    &:hover
      color $blue
      text-decoration underline