.page-title
  helios()
  margin-top 0
  color $blue
  font-size 35px
  @media screen and (max-width: 640px)
    line-height 1
  @media screen and (max-width: 380px)
    font-size 30px
  &.red
    color $red