// Header
header.m_header
  .container
    .row
      .col-sm-6.col-xs-3
        .logo
          a(href="#")
      .col-sm-6.col-xs-9
        .mobile-menu-trigger: span
        .singin: a(href="#small-dialog").popup-with-zoom-anim Войти
        .socials
          .buttons
            a(href="#").facebook
            a(href="#").vk
            a(href="#").twitter
            a(href="#").instagram
            a(href="#").youtube
    .row
      .col-sm-12
        ul.menu
          li: a(href="#") RZR Camp 2016
          li: a(href="#") Новости
          li: a(href="#") Галерея
          li: a(href="#") История
          li: a(href="#") Партнеры
          li: a(href="#") Форум
          li: a(href="#") Контакты
          li.signup: a(href="#") Зарегистрироваться на II этап
