/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HeliosCondBold"; */
@font-face {
    font-family: "HeliosCondBold";
    src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
    src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
    url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}